# copy this file to: '/usr/lib/systemd/system/': cp amazon.service /usr/lib/systemd/system/
# then enable service with command: systemctl enable amazon.service && service amazon restart
[Unit]
Description=Amazon Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/project
ExecStart=/usr/local/bin/gunicorn -w 8 -b 127.0.0.1:8083 amazonServer:app
Restart=always

[Install]
WantedBy=multi-user.target
